@use "./mixins/device";
@use "./partials/palette";

.project-header {
  background-color: palette.$dark-gray;
  position: fixed;
  width: 100%;

  &__logo {
    color: white;
    font-size: 24px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
  }
}

.nav {
  &__list {
    display: none;
    list-style: none;

    @include device.screen-md {
      display: flex;
    }
  }

  &__list > li > a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;

    &:hover {
      color: palette.$cyan;
      background-color: palette.$gray;
    }
  }

  &__mobile {
    color: palette.$cyan;

    @include device.screen-md {
      display: none;
    }
  }
}
