@use "./mixins/device";
@use "./partials/palette";

.landing-page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page {
  &__text {
    text-align: center;

    &--title {
      font-size: 28px;

      @include device.screen-md {
        font-size: 38px;
      }
    }

    &--para {
      font-size: 18px;

      @include device.screen-md {
        font-size: 22px;
      }
    }
  }
}
