@use "./mixins/device";
@use "./partials/palette";
@use "./header.scss";
@use "./landing-page.scss";
@use "./about-me.scss";
@use "./contact.scss";
@use "./projects.scss";

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
